<h1> <%= @sub.title %> </h1>

<p>Moderator: <%= @sub.moderator.username %></p>

<p>Description: <%= @sub.description %> </p>

<p>
  <ul>
    <% @sub.posts.each do |post| %>
      <li><%= link_to post.title, post_url(post) %></li>
    <% end %>
  </ul>
</p>

<%= link_to "Back to All Subs", subs_url %><br>

<% if @sub.moderator_id == current_user.id %>
  <%= link_to "Edit this sub", edit_sub_url(@sub) %>
<% end %>

<br>

<%= link_to "Create a post", new_post_url %>
